
.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
}

.flag-img-container img {
    width: 100px;
    margin: 20px;
}


@media screen and (max-width: 560px){
   .country-container{
    grid-template-columns: repeat(1, 1fr);
   }
}
@media  screen and (max-width: 920px){
    .country-container{
        grid-template-columns: repeat(2, 1fr);
    }
}